@use '../variables/variables.scss' as vars ;

.footer{
 
    width: 100%;
    left: 0;
    background: vars.$darkBlue;
    margin-top: 100px;
    padding:0px;
    
}

.footerText{
    line-height:1.4rem;
    text-align: center;
    padding: 0px;
    color: vars.$white;
    font-weight: 600;

    a{
        margin-left: 10px;
        color:vars.$waterBlue;
    font-weight: 700;

        
    }
}


@media screen and (min-width:768px){
    .footer{
        margin-top: 250px;
        height: 50px;
    }
}
