@use '../variables/variables.scss' as vars ;

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    flex-direction: column;
    background:vars.$main-blue;
   

    .title{
        color:#00CECB;
        text-shadow: 1px 1px 0px #00CECB ,
        2px 2px 0px #fff ,
        3px 3px 0px #00CECB ,
        4px 4px 0px #00CECB ,
        5px 5px 0px #00CECB ,
         6px 6px 0px #00CECB ,
         7px 7px 0px #00CECB ,
         8px 8px 0px #221D45 ,
         9px 9px 0px #221D45 ,
         10px 10px 0px #221D45 ,
         11px 11px 0px #221D45 ,
        12px 12px 16px rgba($color: #000000, $alpha: 0.5);
        font-size:8rem;
        line-height:8rem;
        font-weight: bold;
        font-family: 'Square Peg';

        display: inline-block;
        transform: skew(-5deg ,-5deg)  rotate(5deg);
     

    }

    .text{
        font-size:2rem;
        line-height:2rem;
        color:#fff;
        text-align: center;
        font-family: 'Quicksand';
        font-weight:500;
        margin-top:70px;
     
    }

    .textContainer{
        max-width: 1000px;
        margin: 0px auto;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 40px;
     
    }

}

.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

.imageHome{
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));

}


@media screen and (min-width: 768px){
    .imageContainer{
        display: flex;
        flex-direction: row;
         column-gap: 50px;
         margin-top:100px
    }

    .moon{
        position: relative;
        top: 90px;
    }

    .astronaut1{
        position:relative;
        top: 70px;
    }
}